.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
#root{
  height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#root .ant-layout-sider{
  flex: 0 0 500px !important;
  max-width: 500px !important;
  min-width: 500px !important;
  width: 500px !important;
}
/*#root .ant-layout-footer{
    height:400px !important;
}*/
#mapRoot{
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
#info{
    position: absolute;
    bottom: 10px;
    color: #fff;
    font-size: 35px;
}
#line .domain,#line .tick path,#line .tick line{
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

g.counties {
    fill: rgb(1, 94, 1);
    stroke: white;
    stroke-width: .5px;
}

path.Northampton {
    fill: rgb(2, 34, 95);
    stroke-linejoin: round;
    stroke-linecap: round;
}

path.Lehigh {
    fill: rgb(2, 34, 95);
    stroke-linejoin: round;
    stroke-linecap: round;
}

g.dists {
    fill: rgb(2, 34, 95);
    stroke: white;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: .1px;
}
